{% load static %}
<html>
    <head>
        <title>Django blog</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:4000" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div class="container">
            <header>
                <div class="nav-left">
                    <h1><a href="/">Django Blog</a></h1>
                </div>
                <div class="nav-right">
                    <a href="{% url 'post_new' %}">+ Añadir nuevo post al blog</a>
                </div>
            </header>
            {% if user.is_authenticated %}
                <p>Hi {{ user.username }}!</p>
                <p><a href="{% url 'logout' %}">Desconectar</a></p>
            {% else %}
                <p>No ha iniciado sesión.</p>
                <a href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>